*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #a6a6a6;
}
.contaner{
    margin-left:220px;
    display: grid;
}
.feed{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    gap: 10px;
}
.card{
    /* border: 2px solid black; */
}
.card img{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 5px 5px 0px 5px;
}
.card-info{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-top: 8px;
    padding: 5px 10px   ;
}
.info h4{
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
}
Link{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
.info p{
    margin-bottom: 5px;
    color: #5d5c5c;
    /* border: 2px solid black; */

}