*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #a6a6a6;
}
.contener{
    /* border: 2px solid black; */
    padding-left:250px;
    margin-top:10px;
}
.large-contener{
    padding-left:1vw;
    margin-top:10px;
}
@media (max-width:791px){
    .large-contener,.contener{
        padding-left:.4vw;
    }
}
@media (max-width:717px){
    .large-contener,.contener{
        width: 100%;
    }
}