*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #a6a6a6;
}

.display-video{
    /* border: 2px solid black; */
    /* margin-left: 20px; */
    padding: 0px 15px;
    width: 100%;
}
.sujest-video{
    display: flex;
    margin-top: 10px;
    /* justify-content: space-between; */
    align-items: flex-start;
}
.sujest-video .thumbnail{
    width: 40%;
    height: 20%;
    border-radius: 10px;
}
.sujest-video .vertical-3{
    width: 30px;
    height: 20px;
}

.title .h3{
    /* border: 1px solid black; */
    font-size: 15px;
    padding: 5px 10px 0px ;
}

.title p{
    margin-left: 14px;
    font-size: 13px;
    margin-top:4px;
}
.vertical-3{
    margin-left: 10px;
}